<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.dawnland.filebucket.common.mapper.FilesMapper">

    <!--<resultMap id="FilesMap" type="cn.dawnland.filebucket.common.pojo.files.Files">-->
        <!--<result column="id" property="id"/>-->
        <!--<result column="user_id" property="userId"/>-->
        <!--<result column="file_name" property="fileName"/>-->
    <!--</resultMap>-->

    <insert id="insertFileInfo" parameterType="cn.dawnland.filebucket.common.pojo.files.Files">
        insert into files(user_id, file_name, file_size, bucket_file_name, file_url, create_time)
        value (#{userId}, #{fileName}, #{fileSize}, #{bucketFileName}, #{fileUrl}, now())
    </insert>

    <select id="findFileInfoByParams" resultType="cn.dawnland.filebucket.common.pojo.files.Files" parameterType="cn.dawnland.filebucket.common.pojo.files.Files">
        select a.*
        from files a
        where
          <trim prefixOverrides="and">
              <if test="userId != null and userId != ''">
                  user_id = #{userId}
              </if>
              <if test="fileName != null and fileName != ''">
                  and file_name like concat('%', #{fileName} , '%')
              </if>
              and deleted = 0
          </trim>
    </select>

    <update id="updateFileNotNull" parameterType="cn.dawnland.filebucket.common.pojo.files.Files">
        update files
        set
        <trim suffixOverrides=",">
            <if test="userId != null and userId !=''">
                user_id = #{userId},
            </if>
            <if test="fileName != null and fileName != ''">
                file_name = #{fileName},
            </if>
            <if test="bucketFileName != null and bucketFileName != ''">
                bucket_file_name = #{bucketFileName},
            </if>
            <if test="fileSize != null and fileSize != ''">
                file_size = #{fileSize},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
            <if test="createTime != null and createTIME != ''">
                create_time = #{createTime},
            </if>
        </trim>
        where id = #{id},
    </update>

    <select id="findFilesByFilesId" resultType="cn.dawnland.filebucket.common.pojo.files.Files" parameterType="java.lang.Long">
        select a.*
        from files a
        where id = #{id}
    </select>

    <update id="deleteFiles" >
        update files
        set deleted = 1, file_url = null
        where id = #{id}
    </update>

    <select id="findSumSize" resultType="java.lang.Long">
        select sum(file_size)
        from files
        where user_id = #{userId}
        and deleted = 0
    </select>

</mapper>