<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.dawnland.filebucket.common.mapper.UserMapper">

    <select id="findUserByUsernameAndPassword" resultType="cn.dawnland.filebucket.common.pojo.user.User">
        select *
        from `user`
        where username = #{username} and password = #{password}
    </select>

    <insert id="insertUser" parameterType="cn.dawnland.filebucket.common.pojo.user.User">
        insert into `user`
        (
        <trim suffixOverrides=",">
            <if test="username != null and username != ''">
                username,
            </if>
            <if test="password != null and password != ''">
                password,
            </if>
            <if test="tencentNumber != null and tencentNumber != ''">
                tencent_number,
            </if>
            <if test="email != null and email != ''">
                email,
            </if>
            <if test="phone != null and phone != ''">
                phone,
            </if>
            <if test="lastLogin != null">
                last_login,
            </if>
            create_time,
        </trim>
        )
        value
        (
        <trim suffixOverrides=",">
            <if test="username != null and username != ''">
                #{username},
            </if>
            <if test="password != null and password != ''">
                #{password},
            </if>
            <if test="tencentNumber != null and tencentNumber != ''">
                #{tencentNumber},
            </if>
            <if test="email != null and email != ''">
                #{email},
            </if>
            <if test="phone != null and phone != ''">
                #{phone},
            </if>
            <if test="lastLogin != null">
                #{lastLogin},
            </if>
            now(),
        </trim>
        )
    </insert>

    <update id="updateNotNullUser" parameterType="cn.dawnland.filebucket.common.pojo.user.User">
        update `user`
        set
        <trim suffixOverrides=",">
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="tencentNumber != null and tencentNumber != ''">
                tencent_number = #{tencentNumber},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="email != null and email != ''">
                email = #{email,},
            </if>
            <if test="lastLogin != null">
                last_login = #{lastLogin},
            </if>
            <if test="userStatus != null">
                user_status = #{userStatus},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
        </trim>
        where id = #{id}
    </update>

    <select id="findUserByParams" resultType="cn.dawnland.filebucket.common.pojo.user.User" parameterType="cn.dawnland.filebucket.common.pojo.user.User">
        select a.*
        from `user` a
        where
        <trim prefixOverrides="and">
            <if test="id != null and id != ''">
                a.id = #{id}
            </if>
            <if test="email != null and email != ''">
                and a.email = #{email}
            </if>
            <if test="tencentNumber != null and tencentNumber != ''">
                and a.tencent_number = #{tencentNumber}
            </if>
        </trim>
    </select>

    <select id="findUserIdByEmail" resultType="java.lang.Long">
        select id
        from user
        where email = #{email}
    </select>
</mapper>